# **Analisis pemilihan ekstrakulikuler di SMA X**

##### **Aturan pemilihan ekstrakulikuler:**
1. Siswa ataupun siswi wajib mengikuti ekstrakurikuler Pramuka
2. Siswa ataupun siswi wajib memilih min 2 ekstrakurikuler (termasuk pramuka) dan max 3 ekstrakurikuler
3. Hanya siswa/i kelas 10 dan 11 yang boleh mengikuti kegiatan ekstrakurikuler

##### **Deskripsi dataset:**
1. Terdapat 150 data siswa/i yang tercatat dalam pemilihan kegiatan ekstrakurikuler
2. Pada analisis ini menggunakan library apyori untuk menghitung aturan asosiasi menggunakan metode Apriori

In [1]:
#menambahkan library apyori
%pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=f3d0f3be47fad2c2002e4d6a0d327e5815ad6e7250fd5a4e311d3506fbbae103
  Stored in directory: /root/.cache/pip/wheels/1b/02/6c/a45230be8603bd95c0a51cd2b289aefdd860c1a100eab73661
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

##### **Import pustaka (library) dan package yang dibutuhkan**

In [2]:
import numpy as np
import pandas as pd#
import matplotlib.pyplot as plt
from apyori import apriori

##### **Membaca dan menampilkan data**

In [3]:
data = pd.read_csv("data_eskul.csv", header=None)
data

,0,1,2,3,4,5,6,7,8,9,10
0,No,Nama,Kelas,JenisKelamin,Pramuka,Paskibra,PMR,KIR,VolleyBall,SepakBola,Seni
1,1,ADI MULYANA,10 IPA 1,L,Pramuka,Paskibra,NaN,NaN,NaN,NaN,NaN
2,2,ADIK NUGROHO,10 IPA 1,L,Pramuka,Paskibra,NaN,NaN,NaN,NaN,NaN
3,3,AFRILIA ANGGI SAPUTRI,10 IPA 1,P,Pramuka,Paskibra,NaN,NaN,NaN,NaN,NaN
4,4,ALVINDI FAUZIAH,10 IPA 1,P,Pramuka,NaN,PMR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
146,146,NOLA AFITRIANI,11 IPS 2,P,Pramuka,NaN,PMR,NaN,NaN,NaN,NaN
147,147,NUROHMAN,11 IPS 2,L,Pramuka,NaN,NaN,KIR,NaN,NaN,NaN
148,148,RIZAL SETIAWAN,11 IPS 2,L,Pramuka,NaN,NaN,NaN,VolleyBall,NaN,NaN
149,149,RIZKY ARIL GIAN,11 IPS 2,L,Pramuka,NaN,NaN,NaN,NaN,SepakBola,NaN
150,150,SITI ROHMAWATI,11 IPS 2,P,Pramuka,NaN,PMR,NaN,NaN,NaN,Seni

##### **Preprocessing data**
Disini kami membuat data .csv menjadi sebuah list(array) untuk digunakan pada Algoritma Apriori

In [30]:
records = []
for i in range(1, 150): #mengambil data siswa/i dari data ke-1 sampai dengan 150
    records.append([str(data.values[i, j]) for j in range(4, 10)]) #menggunakan variabel esktrakulikuler
    
print(type(records))

<class 'list'>

##### **Algoritma Apriori**
1. Disini kami akan menerapkan algoritma apriori pada data
2. Kami telah menyediakan sample-set untuk menemukan value dari min_support dan min_confidence

In [26]:
association_rules = apriori(records, min_support=0.06, min_confidence=0.06)
association_results = list(association_rules)

In [27]:
print("Ada {} relasi yang didapatkan.".format(len(association_results)))

Ada 23 relasi yang didapatkan.

In [28]:
for i in range(0, len(association_results)):
    print(association_results[i][0])

frozenset({'KIR'})
frozenset({'PMR'})
frozenset({'Paskibra'})
frozenset({'Pramuka'})
frozenset({'SepakBola'})
frozenset({'VolleyBall'})
frozenset({'nan'})
frozenset({'Pramuka', 'KIR'})
frozenset({'nan', 'KIR'})
frozenset({'PMR', 'Pramuka'})
frozenset({'nan', 'PMR'})
frozenset({'Paskibra', 'Pramuka'})
frozenset({'nan', 'Paskibra'})
frozenset({'SepakBola', 'Pramuka'})
frozenset({'Pramuka', 'VolleyBall'})
frozenset({'nan', 'Pramuka'})
frozenset({'nan', 'SepakBola'})
frozenset({'nan', 'VolleyBall'})
frozenset({'nan', 'Pramuka', 'KIR'})
frozenset({'nan', 'PMR', 'Pramuka'})
frozenset({'nan', 'Paskibra', 'Pramuka'})
frozenset({'nan', 'SepakBola', 'Pramuka'})
frozenset({'nan', 'Pramuka', 'VolleyBall'})

In [29]:
for item in association_results:
  if(items[0]!='0'):
    #index pertama dari daftar dalam yang berisi item dasar dan item yang ditambahkan
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0])

    #index kedua dari daftar list
    print("Support: " + str(item[1]))

    #indeks ketiga dari daftar yang terletak di 0
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: KIR
Support: 0.26174496644295303
Confidence: 0.26174496644295303
Lift: 1.0
=====================================
Rule: PMR
Support: 0.2214765100671141
Confidence: 0.2214765100671141
Lift: 1.0
=====================================
Rule: Paskibra
Support: 0.24161073825503357
Confidence: 0.24161073825503357
Lift: 1.0
=====================================
Rule: Pramuka
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================
Rule: SepakBola
Support: 0.18120805369127516
Confidence: 0.18120805369127516
Lift: 1.0
=====================================
Rule: VolleyBall
Support: 0.2080536912751678
Confidence: 0.2080536912751678
Lift: 1.0
=====================================
Rule: nan
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================
Rule: Pramuka
Support: 0.26174496644295303
Confidence: 0.26174496644295303
Lift: 1.0
=====================================
Rule: nan
Support: 0.26174496644295303
Confidence: 0.26174496644295303
Lift: 1.0
=====================================
Rule: PMR
Support: 0.2214765100671141
Confidence: 0.2214765100671141
Lift: 1.0
=====================================
Rule: nan
Support: 0.2214765100671141
Confidence: 0.2214765100671141
Lift: 1.0
=====================================
Rule: Paskibra
Support: 0.24161073825503357
Confidence: 0.24161073825503357
Lift: 1.0
=====================================
Rule: nan
Support: 0.24161073825503357
Confidence: 0.24161073825503357
Lift: 1.0
=====================================
Rule: SepakBola
Support: 0.18120805369127516
Confidence: 0.18120805369127516
Lift: 1.0
=====================================
Rule: Pramuka
Support: 0.2080536912751678
Confidence: 0.2080536912751678
Lift: 1.0
=====================================
Rule: nan
Support: 1.0
Confidence: 1.0
Lift: 1.0
=====================================
Rule: nan
Support: 0.18120805369127516
Confidence: 0.18120805369127516
Lift: 1.0
=====================================
Rule: nan
Support: 0.2080536912751678
Confidence: 0.2080536912751678
Lift: 1.0
=====================================
Rule: nan
Support: 0.26174496644295303
Confidence: 0.26174496644295303
Lift: 1.0
=====================================
Rule: nan
Support: 0.2214765100671141
Confidence: 0.2214765100671141
Lift: 1.0
=====================================
Rule: nan
Support: 0.24161073825503357
Confidence: 0.24161073825503357
Lift: 1.0
=====================================
Rule: nan
Support: 0.18120805369127516
Confidence: 0.18120805369127516
Lift: 1.0
=====================================
Rule: nan
Support: 0.2080536912751678
Confidence: 0.2080536912751678
Lift: 1.0
=====================================